<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="description" content="The Nonviolent Medicaid Army of the poor is a growing militant force of the poor and dispossessed, united across identities, regions, races and issues, modeled after King’s ‘nonviolent army of the poor’ from the first Poor People’s Campaign of 1968.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Design by Eric Schulte, source at https://github.com/eschulte/nonviolent-medicaid-army. -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
sidebar-padded {}
@media (min-width: 600px){ .sidebar-padded { padding-left:200px; } }
.bgimg {background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('{{"/img/72286505_3307812459243757_5697027247718793216_o-crop.jpg" | url}}')}
.bgimg2 {background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('{{"/img/zachary-keimig-s8ZTEbJNN7E-unsplash-prog.jpg" | url}}')}
.march-details{ text-align: left; }
.w3-display-middle-high{position:absolute;top:26%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.clamped{
  height: 400px;
  max-height: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width:600px){.big-up{clear:both;}}
@media (min-width:900px){.big-up{clear:both;transform: translateY(-64px);height:0;}}
@media (min-width:600px){.bigger-up{clear:both;}}
@media (min-width:1080px){.bigger-up{clear:both;transform: translateY(-64px);height:0;}}
</style>
<body class="w3-dark-grey">

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle-high w3-text-light-gray w3-center">
    <h1 class="w3-jumbo">{{ title }}</h1>
    <h2><b>2020-09-30</b></h2>
  </div>
</header>

<!-- Language switcher. -->
<div class="w3-display-topright">
  <button id="local" href="javascript:void(0)" class="w3-xlarge w3-padding w3-display-topright w3-text-white"
          style="background-color:transparent; text-decoration:none; border:none;">
    Es
  </button>
</div>

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-small w3-hide-small w3-center w3-text-white" style="background:transparent; top:0px; left:0px;">
  <!-- Avatar image in top left corner -->
  <img src='{{ "/img/96805680_10157171890982592_5352465068355223552_trans_invert.png" | url }}' style="width:100%">
  <a href="#" class="w3-bar-item">
    <i class="fa fa-home w3-xxlarge"></i>
    <div class="en"><p>HOME</p></div>
    <div class="es" style="display:none"><p>HOGAR</p></div>
  </a>
  </br>
  <a href="#marches" class="w3-bar-item">
    <i class="fa fa-users w3-xxlarge"></i>
    <div class="en"><p>MARCHES</p></div>
    <div class="es" style="display:none"><p>MANIFESTACIÓN</p></div>
  </a>
  </br>
  <a href="#about" class="w3-bar-item">
    <i class="fa fa-book w3-xxlarge"></i>
    <div class="en"><p>ABOUT</p></div>
    <div class="es" style="display:none"><p>SOBRE</p></div>
  </a>
  </br>
  <a href="#goals" class="w3-bar-item">
    <i class="fa fa-check-square w3-xxlarge"></i>
    <div class="en"><p>GOALS</p></div>
    <div class="es" style="display:none"><p>METAS</p></div>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important"><div class="en">HOME</div><div class="es" style="display:none">HOGAR</div></a>
    <a href="#marches" class="w3-bar-item w3-button w3-text-white"><div class="en">MARCHES</div><div class="es" style="display:none">MANIFESTACIÓN</div></a>
    <a href="#about" class="w3-bar-item w3-button w3-text-white"><div class="en">ABOUT</div><div class="es" style="display:none">SOBRE</div></a>
    <a href="#goals" class="w3-bar-item w3-button w3-text-white"><div class="en">GOALS</div><div class="es" style="display:none">METAS</div>
  </div></a>
</div>

<!-- Marches Section -->
<div class="sidebar-padded w3-padding-64 w3-dark-grey " id="marches">
  <div class="w3-content">
    <h2 class="w3-text-white"><div class="en">Marches</div><div class="es" style="display:none">MANIFESTACIÓN</div></h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-row-padding w3-padding-16 w3-center">
{% for march in marches %}

{% if (loop.index0 % 2) == 0 %}
</div><div class="w3-row-padding w3-padding-16 w3-center">
{% endif %}

<div class="w3-half w3-container w3-margin-bottom">
<img src="{{ march.image | url}}" alt="" style="width:100%; max-height: 300px; object-fit: cover;">
<div class="w3-container w3-gray march-details clamped">
<h3>{{ march.name }}</h3>
<b>Date:</b> {{ march.date }}</br>
{% if march.address %}
<b>Address:</b> {{ march.address }}</br>
{% endif %}
</br>
<b>Details:</b>
<hr style="width:100px; border-top: 1px solid black; margin: 0.25em 0;" class="w3-opacity">
{% markdown %}
{{ march.details }}
{% endmarkdown %}
</div>
</div>
{% endfor %}
    </div>
  </div>
</div>

<!-- About Section -->
<div class="sidebar-padded w3-container w3-padding-64 w3-dark-grey " id="about">
  <div class="w3-content">
    <img class="w3-right w3-round " src='{{"/img/Jublee-Harrisburg-2020-0018.jpg" | url}}'
         style="width:100%;margin:32px 0;max-width:600px;">
  <h2 class="w3-text-white big-up"><div class="en">About</div><div class="es" style="display:none">Sobre</div></h2>
  <hr style="width:200px" class="w3-opacity">
  <div class="en">
    {% markdown %}
    {%- include "en/about.md" -%}
    {% endmarkdown %}
  </div>
  <div class="es" style="display:none">
    {% markdown %}
    {%- include "es/about.md" -%}
    {% endmarkdown %}
  </div>
  </div>
</div>

<!-- Goals Section -->
<div class="sidebar-padded w3-display-container bgimg2 w3-padding-64" id="goals">
  <div class="w3-content w3-text-light-grey">
    <img class="w3-right w3-round " src='{{"/img/image2-crop.jpg" | url}}'
         style="width:90%; margin:0 5%; max-width:700px;">
    <h2 class="w3-text-white bigger-up"><div class="en">Goals</div><div class="es" style="display:none">Metas</div></h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="en">
    {% markdown %}
      {%- include "en/goals.md" -%}
    {% endmarkdown %}
    </div>
    <div class="es" style="display:none">
    {% markdown %}
      {%- include "es/goals.md" -%}
    {% endmarkdown %}
    </div>
  </div>
</div>

<div class="sidebar-padded w3-container w3-padding-64 w3-dark-grey  w3-center" id="wedding">
  <div class="w3-content">
    <!-- <h1 class="w3-text-grey"><b>THE WEDDING</b></h1> -->
    <img class="w3-round-large " src='{{"/img/bojangles.jpg" | url}}'
         style="width:100%;margin-bottom:64px;">
    </br>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">
      <span class="en">For more information and to get involved contact:</span>
      <span class="es" style="display:none">Para obtener más información y participar, comuníquese con:</span></br>
      Nijmie Dzurinko, co-chair Pennsylvania PPC:NCMR: ​nijmied@gmail.com
    </p>
  </div>
</div>

</body>

<script>
// Missing in some older browsers
document.getElementsByClass = function(needle) {
  function acceptNode(node) {
    if (node.hasAttribute("class")) {
      var c = " " + node.className + " ";
       if (c.indexOf(" " + needle + " ") != -1)
         return NodeFilter.FILTER_ACCEPT;
    }
    return NodeFilter.FILTER_SKIP;
  }
  var treeWalker = document.createTreeWalker(document.documentElement,
      NodeFilter.SHOW_ELEMENT, acceptNode, true);
  var outArray = new Array();
  if (treeWalker) {
    var node = treeWalker.nextNode();
    while (node) {
      outArray.push(node);
      node = treeWalker.nextNode();
    }
  }
  return outArray;
}

function switch_language(){
  if (document.getElementById("local").innerHTML == "En" ){
    document.getElementById("local").innerHTML = "Es";
  } else {
    document.getElementById("local").innerHTML = "En";
  }
  ["en", "es"].forEach(function(lang)
{
    var elements = document.getElementsByClassName(lang);
    for (var i in elements) {
      if (elements.hasOwnProperty(i)) {
        if (elements[i].style.display == 'none'){
            elements[i].style.display = 'inline';
        } else {
            elements[i].style.display = 'none';
        }
      }
    }
  }
  )
}
document.getElementById("local").addEventListener('click', switch_language);
</script>
</html>
