<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="description" content="The Nonviolent Medicaid Army of the poor is a growing militant force of the poor and dispossessed, united across identities, regions, races and issues, modeled after King’s ‘nonviolent army of the poor’ from the first Poor People’s Campaign of 1968.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Design by Eric Schulte, source at https://github.com/eschulte/nonviolent-medicaid-army. -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.14.0/css/all.css">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
sidebar-padded {}
#myNavbar {
    background-color: rgba(0,0,0,0.5);
}
.w3-content{ padding-left: 0.5em; }
@media only screen and (max-width: 440px) {
    #myNavbar > div > .w3-button {
        padding: 4px 8px;
    }
}
@media only screen and (max-width: 360px) {
    #myNavbar > div > .w3-button {
        padding: 4px 6px;
    }
}
@media (min-width: 600px){ .sidebar-padded { padding-left:200px; } }
.bgimg {background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('{{"/img/72286505_3307812459243757_5697027247718793216_o-crop.jpg" | url}}')}
.bgimg2 {background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('{{"/img/zachary-keimig-s8ZTEbJNN7E-unsplash-prog.jpg" | url}}')}
.event-details{ text-align: left; }
.w3-display-middle-high{position:absolute;top:26%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.clamped{
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.clamped::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.clamped{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (min-width:600px){.big-up{clear:both;}}
@media (min-width:900px){.big-up{clear:both;transform: translateY(-64px);height:0;}}
@media (min-width:600px){.bigger-up{clear:both;}}
@media (min-width:1080px){.bigger-up{clear:both;transform: translateY(-64px);height:0;}}
</style>
<!-- Carousel from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>
<body class="w3-dark-grey">

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="en w3-display-middle-high w3-text-light-gray w3-center">
    <h1 class="w3-jumbo">Nonviolent Medicaid Army</h1>
  </div>
  <div class="es w3-display-middle-high w3-text-light-gray w3-center" style="display:none;">
    <h1 class="w3-jumbo">El&nbsp;Ejército No&nbsp;Violento de&nbsp;Medicaid</h1>
  </div>
</header>

<!-- Language switcher. -->
<div class="w3-display-topright">
  <button id="local" href="javascript:void(0)" class="w3-xlarge w3-padding w3-display-topright w3-text-white"
          style="background-color:transparent; text-decoration:none; border:none;">
    Es
  </button>
</div>

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-small w3-hide-small w3-center w3-text-white" style="background:transparent; top:0px; left:0px;">
  <!-- Avatar image in top left corner -->
  <a href="#"><img src='{{ "/img/national-logo-1-alpha.png" | url }}' alt="logo" style="width:100%"></a>
  <a href="#" class="w3-bar-item">
    <i class="fa fa-home w3-xxlarge"></i>
    <div class="en"><p>HOME</p></div>
    <div class="es" style="display:none"><p>HOGAR</p></div>
  </a>
  </br>
  <a href="#WOA" class="w3-bar-item">
    <i class="fa fa-hands-helping w3-xxlarge"></i>
    <div class="en"><p>WEEK OF ACTION</br>2024</p></div>
    <div class="es" style="display:none"><p>SEMANA DE ACCIÓN</p></div>
  </a>
  </br>
  <a href="#about" class="w3-bar-item">
    <i class="fa fa-book w3-xxlarge"></i>
    <div class="en"><p>ABOUT</p></div>
    <div class="es" style="display:none"><p>SOBRE</p></div>
  </a>
  </br>
  <a href="#goals" class="w3-bar-item">
    <i class="fa fa-check-square w3-xxlarge"></i>
    <div class="en"><p>GOALS</p></div>
    <div class="es" style="display:none"><p>METAS</p></div>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button"><div class="en">HOME</div><div class="es" style="display:none">HOGAR</div></a>
    <a href="#WOA" class="w3-bar-item w3-button w3-text-white"><div class="en">WEEK OF ACTION 2024</div><div class="es" style="display:none">SEMANA DE ACCIÓN</div></a>
    <a href="#about" class="w3-bar-item w3-button w3-text-white"><div class="en">ABOUT</div><div class="es" style="display:none">SOBRE</div></a>
    <a href="#goals" class="w3-bar-item w3-button w3-text-white"><div class="en">GOALS</div><div class="es" style="display:none">METAS</div>
  </div></a>
</div>

<!-- Events Section -->
<div class="sidebar-padded w3-padding-64 w3-dark-grey " id="events">
  <div class="w3-content">
    <h2 class="w3-text-white"><div class="en">Week of Action Events</div><div class="es" style="display:none">Eventos de la Semana de Acción</div></h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-row-padding w3-padding-16 w3-center">
{% for event in events|sort(attribute='day') %}

{% if (loop.index0 % 2) == 0 %}
</div><div class="w3-row-padding w3-padding-16 w3-center">
{% endif %}

<div class="w3-half w3-container w3-margin-bottom">
{% if event.only %}
{% if event.link %}
<a href="{{ event.link }}">
{% else %}
<a href="{{ event.only | url}}">
{% endif%}
<img src="{{ event.only | url}}" alt="event only image" style="width:100%; max-height: 100%; object-fit: cover;">
</a>
{% else %}
  <div style="min-height: 300px" class="w3-gray">
    <img src="{{ event.image | url}}" alt="event image" style="width:100%; max-height: 300px; object-fit: cover;">
  </div>
<div class="w3-container w3-gray event-details clamped">
{% if event.link %}
<h3><a href="{{ event.link }}">{{ event.name }}</a></h3>
{% else %}
<h3>{{ event.name }}</h3>
{% endif%}
<b>Date:</b> {{ event.date }}</br>
{% if event.address %}
<b>Address:</b> {{ event.address }}</br>
{% endif %}
</br>
<b>Details:</b>
<hr style="width:100px; border-top: 1px solid black; margin: 0.25em 0;" class="w3-opacity">
{% markdown %}
{{ event.details }}
{% endmarkdown %}
</div>
{% endif %}
</div>
{% endfor %}
    </div>
  </div>
</div>

<!-- Week of Action -->
<div class="sidebar-padded w3-padding-64 w3-dark-grey " id="WOA">
  <div class="w3-content">
    <h2 class="w3-text-white"><div class="en">Week of Action: September 21-28, 2024</div><div class="es" style="display:none">Semana de acción: Septiembre 21-28, 2024</div></h2>
    <hr style="width:200px" class="w3-opacity">
Week of Action: September 21-28, 2024
    <ul>
      <li>Check out the <a href="https://docs.google.com/document/d/143woVyrS6FDwORDoFvCDDErZUBMaOVIQTy_Zj-6e5Vg">Toolkit.</li>
    </ul>
    <center>
      <div style="position: relative">
      <a title="Toolkit" href="https://docs.google.com/document/d/143woVyrS6FDwORDoFvCDDErZUBMaOVIQTy_Zj-6e5Vg"><div style="position: absolute; left: 6.75%; top: 35.45%; width: 43.5%; height: 14.9%"></div></a>
      <a title="Register" href="https://docs.google.com/forms/d/e/1FAIpQLSdb1v-SVAEk1ZDI1DVS_qd9CNyoLVTuIz1vNOxIX9XYWKsfFg/viewform"><div style="position: absolute; left: 6.75%; top: 51.15%; width: 43.5%; height: 16.95%"></div></a>
      <a title="Join the NVMA" href="https://facebook.com/nonviolentmedicaidarmy"><div style="position: absolute; left: 50%; top: 76.4%; width: 50%; height: 6.65%"></div></a>
      </div>
      <img class="w3-round w3-margin" src='{{"/img/nvma-2021/Ppf3-01-01.png" | url}}'
           alt="Jublee-Harrisburg-2020"
           style="margin:32px 0;max-width:min(80%, 600px);">
    </center>
  </div>
</div>

<!-- About Section -->
<div class="sidebar-padded w3-container w3-padding-64 w3-dark-grey " id="about">
  <div class="w3-content">
    <img class="w3-right w3-round " src='{{"/img/Jublee-Harrisburg-2020-0018.jpg" | url}}'
         alt="Jublee-Harrisburg-2020"
         style="width:100%;margin:32px 0;max-width:600px;">
  <h2 class="w3-text-white big-up"><div class="en">About</div><div class="es" style="display:none">Sobre</div></h2>
  <hr style="width:200px" class="w3-opacity">
  <div class="en">
    {% markdown %}
    {%- include "en/about.md" -%}
    {% endmarkdown %}
  </div>
  <div class="es" style="display:none">
    {% markdown %}
    {%- include "es/about.md" -%}
    {% endmarkdown %}
  </div>
  </div>
</div>

<!-- Goals Section -->
<div class="sidebar-padded w3-display-container bgimg2 w3-padding-64" id="goals">
  <div class="w3-content w3-text-light-grey">
    <img class="w3-right w3-round " src='{{"/img/image2-crop.jpg" | url}}'
         alt="poor peoples campaign event image"
         style="width:90%; margin:0 5%; max-width:700px;">
    <h2 class="w3-text-white bigger-up"><div class="en">Goals</div><div class="es" style="display:none">Metas</div></h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="en">
    {% markdown %}
      {%- include "en/goals.md" -%}
    {% endmarkdown %}
    </div>
    <div class="es" style="display:none">
    {% markdown %}
      {%- include "es/goals.md" -%}
    {% endmarkdown %}
    </div>
  </div>
</div>

<div class="sidebar-padded w3-container w3-padding-64 w3-dark-grey  w3-center" id="wedding">
  <div class="w3-content">
    <div class="slideshow-container">
    {% for slide in slides %}
    <div class="mySlides fade">
      <div class="numbertext">{{ loop.index }} / {{ slides.length }}</div>
      <img src='{{ slide | url }}' alt="slide show image {{ loop.index }}" style="max-height: 600px; max-width: 100%;">
    </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
    <div style="text-align:center">
      {% for slide in slides %}
      <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
      {% endfor %}
    </div>
    </br>
    <p class="w3-medium">
      <span class="en">For more information and to get involved contact:</span>
      <span class="es" style="display:none">Para obtener más información y participar, comuníquese con:</span></br>
      <a href="mailto:putpeoplefirstpa@gmail.com">putpeoplefirstpa@gmail.com</a>
    </p>
    <img src='{{ "/img/national-logo-0.jpg" | url }}' alt="National Logo" style="max-width:100%; max-height: 300px;">
  </div>
</div>

</body>

<script>
// Missing in some older browsers
document.getElementsByClass = function(needle) {
  function acceptNode(node) {
    if (node.hasAttribute("class")) {
      var c = " " + node.className + " ";
       if (c.indexOf(" " + needle + " ") != -1)
         return NodeFilter.FILTER_ACCEPT;
    }
    return NodeFilter.FILTER_SKIP;
  }
  var treeWalker = document.createTreeWalker(document.documentElement,
      NodeFilter.SHOW_ELEMENT, acceptNode, true);
  var outArray = new Array();
  if (treeWalker) {
    var node = treeWalker.nextNode();
    while (node) {
      outArray.push(node);
      node = treeWalker.nextNode();
    }
  }
  return outArray;
}

function switch_language(){
  if (document.getElementById("local").innerHTML == "En" ){
    document.getElementById("local").innerHTML = "Es";
  } else {
    document.getElementById("local").innerHTML = "En";
  }
  ["en", "es"].forEach(function(lang)
{
    var elements = document.getElementsByClassName(lang);
    for (var i in elements) {
      if (elements.hasOwnProperty(i)) {
        if (elements[i].style.display == 'none'){
            elements[i].style.display = 'inline';
        } else {
            elements[i].style.display = 'none';
        }
      }
    }
  }
  )
}
document.getElementById("local").addEventListener('click', switch_language);
</script>
<!-- Carousel from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
<script>
var slideIndex = 1;
var clicked = false;
showSlides(slideIndex);

function plusSlides(n) {
  clicked = true;
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  clicked = true;
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  if (slides[slideIndex-1] && slides[slideIndex-1].style) {
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  } else {
    slides[slides.length].style.display = "block";
    dots[slides.length].className += " active";
  }
}

function cycle(){
    if(! clicked){
        showSlides(slideIndex++);
        setTimeout(cycle, 4000);
    }
}
cycle();
</script>
</html>
